body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.hidden{
    display : none;
}

.hidden2{
    display : none;
}

.hidden3{
    display : none;
}

.hidden4{
    display : none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-align: left;
    line-height: 1.0;
    width: 25%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: left;
    line-height: 1.0;
    width: 40%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: right;
    line-height: 0.5;
    width: 25%;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: right;
    line-height: 0.5;
    width: 25%;
}

#container{width:100%;}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:100px;}


.centered
{
    text-align: center;
}

.img-container
{
    text-align: center;
    display: block;
}

.underline
{
    border-bottom: 1px dotted #c03;
    width: 100%;
    display: block;
}

.left
{
    float: left;
}

.right
{
    text-align: right;
}

.justify
{
    text-align: justify;
}

.table {
    height: 30%;
    width: 100%;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
