<!DOCTYPE html>

<html lang="en">
    <head>
        <script src="jquery-3.5.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <title>CV</title>
    </head>
    <body>
    <a href="https://ide-53cec3ba71e4421c9ba3858b9e6757de-8080.cs50.ws/" ><button style="font-size: 1.5em;border: 2px solid black; background-color:white;color:lightgrey">Register</button></a>
    <a href="https://ide-53cec3ba71e4421c9ba3858b9e6757de-8080.cs50.ws/login" ><button style="font-size: 1.5em;border: 2px solid black; background-color:white;color:lightgrey">Login</button></a>
    <a href="https://ide-53cec3ba71e4421c9ba3858b9e6757de-8080.cs50.ws/logout" ><button style="font-size: 1.5em;border: 2px solid black; background-color:white;color:lightgrey">Logout</button></a>
    <a href="https://ide-53cec3ba71e4421c9ba3858b9e6757de-8080.cs50.ws/userinput" ><button style="font-size: 1.5em;border: 2px solid black; background-color:white;color:lightgrey">Add or change your profile</button></a>
    <a href="https://ide-53cec3ba71e4421c9ba3858b9e6757de-8080.cs50.ws/photo" ><button style="font-size: 1.5em;border: 2px solid black; background-color:white;color:lightgrey">Add a photo</button></a>
    <a href="https://ide-53cec3ba71e4421c9ba3858b9e6757de-8080.cs50.ws/result" ><button style="font-size: 1.5em;border: 2px solid black; background-color:white;color:lightgrey">See your CV</button></a>
    <p></p>
    <form action="/login" method="post">
        <div class="form-group" style="width: 10%">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group" style="width: 10%">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    </body>
</html>